
ROOT    = .
SDKROOT = $(ROOT)/..


#���뽻�������ͨ������
include $(SDKROOT)/config/${ARM_CROSS_TOOL}.CFG
include $(SDKROOT)/bsp/$(BSP_PATH)/include/run_addr.cfg


#ͷ�ļ�·���б�
INCLUDES        =   -I$(ROOT)                               		\
                    -I$(SDKROOT)/config                     		\
					-I$(SDKROOT)/bsp								\
                    -I$(SDKROOT)/bsp/$(BSP_PATH)					\
                    -I$(SDKROOT)/bsp/$(BSP_PATH)/include            \
					-I$(SDKROOT)/bsp/$(BSP_PATH)/include/interinc   \
					-I$(SDKROOT)/bsp/$(BSP_PATH)/common				\
					-I$(SDKROOT)/bsp/$(BSP_PATH)/init_dram			\
					-I$(SDKROOT)/bsp/$(BSP_PATH)/uart				\
					-I$(SDKROOT)/bsp/$(BSP_PATH)/gpio


LINK_SCT        = --scatter=$(ROOT)/config/config.sct

#���ļ��б�
LIBS            =
TARGET      	= $(LICHEEPATH)/bin/fes1_$(ARCH).bin
ifneq ($(ARCH1), )
LICHEEOLDPATH   = $(SDKROOT)/../../tools/pack/chips/$(ARCH1)
TARGET1      	= $(LICHEEOLDPATH)/bin/fes1_$(ARCH1).bin
endif
LOCALTARGET 	= __fes1_$(ARCH).axf


#�������ɵ�Ŀ���ļ�(���/����)
TMPTARGET   = $(ROOT)/fes1_origin.bin

#�г��ù����µ����а���Դ�������Ŀ¼
SRCDIRS     :=  $(SRCDIRS)                                  		\
            $(ROOT)                                         		\
			$(SDKROOT)/bsp/$(BSP_PATH)/common						\
			$(SDKROOT)/bsp/$(BSP_PATH)/init_dram			 		\
			$(SDKROOT)/bsp/$(BSP_PATH)/uart 						\
			$(SDKROOT)/bsp/$(BSP_PATH)/gpio

INCLUDES    :=  $(INCLUDES)                         \
				$(foreach dir,$(SRCDIRS),-I$(dir))


ifeq ($(CROSSTOOL), ARMRVDS)

#===============================================================================
#ʹ��RVDS������
#===============================================================================
#�������ӽű�
LINK_SCT   := $(LINK_SCT)
#��������չ����
CFLAGS     := $(CFLAGS) -O2 --debug
CFLAGS     := $(CFLAGS) $(INCLUDES)

ifeq ($(FLAGS),SUN7I_HOMLET)
CFLAGS	   :=$(CFLAGS) -D$(FLAGS)
endif
#�������չ����
ASFLAGS    := $(ASFLAGS) --debug --keep
ASFLAGS    := $(ASFLAGS) $(INCLUDES)
#��������չ����
LKFLAGS    := $(LKFLAGS) --pd="-DRUN_ADDR=$(FES1_RUN_ADDR)" $(LINK_SCT)
#��������չ����
LDFLAGS    := $(LDFLAGS) --bin --output

else

#===============================================================================
#ʹ��GNU-GCC������
#===============================================================================
error:
	$(error GNU Cross-tool is invalid now!!!)

endif

