

#工具链配置
CROSSTOOL   = ARMRVDS

LICHEEPATH      = $(SDKROOT)/../../tools/pack/chips/$(ARCH)
WORKSPACEPATH   = $(SDKROOT)/../pack/chips/$(ARCH)
WORKTOOLS       = $(SDKROOT)/pctools

ifeq ($(CROSSTOOL), ARMRVDS)

#===============================================================
#RVDS编译器参数配置
#===============================================================

#编译器
CC          = @armcc
#编译器参数
CFLAGS      = --cpu=Cortex-A7

#C++编译器
CXX         = @armcpp
CXXFLAGS    = --cpu=Cortex-A7 --cpp --no_exceptions

#汇编器
AS          = @armasm
#汇编器参数
ASFLAGS      = --cpu=Cortex-A7

#链接器
LINK        = armlink
#链接器参数
LKFLAGS     = --noremove

#打包器
AR          = armar
#链接器参数
ARFLAGS     = -r

#加载器
LOAD        = fromelf
#加载器参数
LDFLAGS     =


else


ifeq ($(CROSSTOOL), ARMGCC)

#===============================================================
#GNU编译器参数配置
#===============================================================

#编译器
CC          = @arm-elf-gcc
#编译器参数
CFLAGS      =

#汇编器
AS          = @arm-elf-as
#汇编器参数
ASFLAGS     =

#链接器
LINK        = @arm-elf-ld
#链接器参数
LKFLAGS     =

#加载器
LOAD        = @arm-elf-objdump
#加载器参数
LDFLAGS     =

else

error:
	$(error CROSSTOOL configuration is invalid!!!)

endif


endif
